.login-heading {
    text-align: center;
    margin-top: 23px;
}
.img-logo{
    width: 123px;
    
}
.login-button{
    margin-top: 23px;
}
.link-style{
    text-decoration: none;
    color: #000;
}

